<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <div class="container">
                <form #f="ngForm">
                    <div class="card">
                        <h1>Reset Password</h1>
                        <label for="resetAccountPassword">Account Email</label>
                        <input name="email" ngModel #email="ngModel" type="email" id="resetAccountPassword" required placeholder="Email">

                        <button class="btn" type="submit" [routerLink]="['/login']"(click)="onSubmit(f)" [disabled]="f.invalid">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>