<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <div class="container">
                <form #f="ngForm">
                    <div class="card">
                        <h1>Sign Up!</h1>
                        <label for="email">Email</label>
                        <input name="email" ngModel #email="ngModel" type="email" id="email" required placeholder="email">

                        <label for="password">Password</label>
                        <input name="password" ngModel #password="ngModel" type="password" id="password" required placeholder="password">
                        <input name="password" ngModel #password="ngModel" type="password" id="reEnter-Password" required placeholder="reEnter Password">

                        <button class="btn" type="submit" routerLink="../home" (click)="onSubmit(f)" [disabled]="f.invalid">Sign up</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>