:root{
    --bg-Color--: #2f3338;
    --main-color--:#d6d2bc;
    --btn-Transform-Scale:0.97;
    --Correct--:#56964f;
    --incorrect-Color--:#ff4a59;
    --incorrect-Background--:#ffc0cb;
    --active--Character--:#8f8e84;
    --sub-color:#8f8e84;
    --font--:"Roboto Mono","Robtot Mono";
    --roundness--:.5rem ;
}
.container-fluid{
    /* border: 1px solid orange; */
    padding: 0;
    margin: 0;
    width: 99vw;
}
.row{
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
}



.container{
    width: 100%;
    /* border: 1px solid purple; */
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 240px;
    height: 200px;
    background-color: var(--bg-Color--);   
    font-family: var(--font--);
    border: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-content: center;
}

label{
    color: var(--main-color--);
    font-size: 1rem;
}

input, textarea{
    background:rgba(0, 0, 0, .1);
    border: none;
    border-radius: .5rem;
    color: var(--main-color--);
    font-family: var(--font--);
    font-size: 1rem;
    outline: none;
    padding: 0.4rem;
}

.btn{
    align-content:center;
    background:rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    color: var(--main-color--);
    cursor: pointer;
    height: min-content;
    line-height: 1rem;
    padding: 0.4rem;
    text-align: center;
    transition: .125s;
}