<div class="container">
    <div class="row">
        <div class="col-sm-2 right">
            <div class="text">
                <a href="index.html">
                    <p>martype</p>
                </a>
            </div>
        </div>
        <div class="col left_center">
            <button mat-icon-button class="profile_button" (click)="goToProfile()">
                <mat-icon class="icon">person</mat-icon>
            </button>
            <button mat-icon-button class="profile_button" (click)="goToSignOut()">
                <mat-icon class="icon">logout</mat-icon>
            </button>
            <button mat-icon-button class="profile_button" (click)="goToSignUp()">
                <mat-icon class="icon">login</mat-icon>
            </button>
        </div>
        <div class="col right">
            please deliver
        </div>
    </div>
</div>