<div class="wrapper">
    <div *ngIf="!showResults" class="content-box">
        <div class="content">
            <ul class="result-details">
                <li class="time">
                    <span>
                        <countdown #countdown [config]="{leftTime:60, format:'m:ss',demand: true}"
                            (event)="timesUp($event)">
                        </countdown>
                    </span>
                </li>
                <li class="WPM">
                    <span name="wpmSpan">0</span>
                </li>
                <li class="CPM">
                    <span name="cpmSpan">0</span>
                </li>
            </ul>
        </div>
        <div class="typing-text" (click)="focusInput()">
            <p><span *ngFor="let paragraph of paragraphs" name="charSpan">{{paragraph}}</span></p>
            <div class="container">
                <input (input)="initTyping($event)" (input)="StartCountdown()" name="textInput" #typingBox type="text"
                    class="input-field" autofocus>
            </div>
        </div>
    </div>
    <div *ngIf="showResults">
        
        <app-typing-results><p></p></app-typing-results>
    </div>
    <div class="btn-conatiner">
        <button mat-flat-button (click)="restartGame()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>





</div>