:root {
  --main-color--: #d6d2bc;
  --header--: #8f8e84;
  --result--: #d6d2bc;
}

* {
  color: var(--main-color--);
  margin: 0 auto;
  width: 100%;
}

.container-fluid {
  overflow-x: hidden;
  transition: all 2s;
  width: 1000px;
  padding: 0;
  margin-top: 200px;
}

.info-container {
  display: flex;
  padding: 0;
  justify-content: right;
}

/* .info-container p,
.info-container h4 {
  margin: 0;
  padding: 0;
  margin-right: 40px;
} */
/* 
.col-sm-4 h3 {
  margin: 0;
}

.col-sm-4 {
  padding: 0;
} */

#side_Results{
    justify-content: flex-end;
}

.chart-container {
  position: relative;
  height: 200px;
  width: 800px !important;
}

#Test_Graph {
  height: 200px;
  width: 700px !important;
}

.row .col .result_Header {
    color:#8f8e84;
    font-size: 2rem;
    
}


.row .col .bottom_Results{
color: var(--result--);
  font-size: 2rem;
}

.Info_titles{
    color: #8f8e84;
    font: size 0.25rem;
    margin-right: 20px ;
    width: max-content;
    
}

.info {
  text-align: right;
  justify-content: right;
}

#author {
  font-size: 1rem;
}

btn-container{
  padding-top: 20px;
}