<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="quote_Container" *ngIf="ProfileComponent.userData as user">
                <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
                <p>User ID: <strong>{{user.uid}}</strong></p>
                <p>Email: <strong>{{user.email}}</strong></p>
                <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
            </div>

        </div>
        <div class="col-sm-8 p-3">
            <div class="container" id="container">

                <!-- <div class="card" id="card" *ngIf="!SavedQuotesEmpty else NoSavedQuotes"> -->
                <div class="card" id="card">

                    <div *ngFor="let quote of savedQuotes" class="quote_Container">
                        <h3>Author:</h3>
                        <p class="tab">{{quote.Author}}</p>

                        <h3>Quote</h3>
                        <p class="tab">{{quote.Quote}}</p>
                        <div class="bottom_quote_container">
                            <button mat-flat-button (click)="removeQuote(quote)">
                                <mat-icon [ngStyle]="{'color':'red'}">close</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <ng-template #NoSavedQuotes>
                    <div class="quote_Container">
                        <h3>You dont have any saved quotes :(</h3>
                        <p style="text-align: center;">Click the save icon under your test to<br>save the quote!</p>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
</div>