@import '~bootstrap/dist/css/bootstrap';



*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}



@font-face {
    font-family: roboto mono;
    src: url(assets/fotns/RobotoMono-VariableFont_wght.ttf) format('truetype');
}

:root{
    --bg-Color--: #2f3338;
    --main-color--:#d6d2bc;
    --btn-Transform-Scale:0.97;
    --Correct--:#56964f;
    --incorrect-Color--:#ff4a59;
    --incorrect-Background--:#ffc0cb;
    --active--Character--:#8f8e84;
    --sub-color:#8f8e84;
    --font--:"Roboto Mono","Robtot Mono";
}

body{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* min-height: 100vh; */
    background: var(--bg-Color--);
}

.ng-valid[required], .ng-valid.required{
    border-left: 5px solid var(--main-color--) !important;
}

.ng-invalid:not(form) {
    border-left: 5px solid var(--incorrect-Color--) !important;
}

